---

version: "2"

services:
    mongo:
        extends:
            file: docker-compose-local-db.yml
            service: mongo

    redis:
        extends:
            file: docker-compose-local-db.yml
            service: redis

    rabbit:
        extends:
            file: docker-compose-local-db.yml
            service: rabbit


    nginx:
        extends:
            file: docker-compose-local.yml
            service: nginx

    reg:
        extends:
            file: docker-compose-local.yml
            service: reg

    mes:
        extends:
            file: docker-compose-local.yml
            service: mes

    metrics:
        extends:
            file: docker-compose-local.yml
            service: metrics

    admin:
        extends:
            file: docker-compose-local.yml
            service: admin

    # uncomment to run the client generation
    clientg:
        extends:
            file: docker-compose-local.yml
            service: clientg
        volumes:
            - ./local-dev.conf:/etc/service.conf

    default_spawner:
        extends:
            file: docker-compose-local.yml
            service: spawner

    special_spawner:
        extends:
            file: docker-compose-local.yml
            service: spawner
        environment:
            queue: special

    health:
        extends:
            file: docker-compose-local.yml
            service: health