{% extends 'base.html' %}


        {% block body %}
        <!-- Admin Tab -->
        {% block header %}
        <h1>Registered Abaco Actors</h1>
        {% endblock %}


        {% if error %}
        <div class="error">
            <p>There was an error: {{ error }}</p>
        </div>
        {% endif %}
            {% if actors %}
            <div id="actors">
                <table id="actorsTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Tenant</th>
                            <th>Actor ID</th>
                            <th>Actor Name</th>
                            <th>Image</th>
                            <th>Owner</th>
                            <th>Actor Status</th>
                            <th>Pending Messages</th>
                            <th>Total Executions</th>
                            <th>Total Runtime</th>
                            <th>Create Time</th>
                            <th>Last Update Time</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for actor in actors %}
                        <tr>
                            <td>{{ actor.tenant }}</td>
                            <td>{{ actor.id }}</td>
                            <td>{{ actor.name }}</td>
                            <td>{{ actor.image }}</td>
                            <td>{{ actor.owner }}</td>
                            <td>{{ actor.status }}</td>
                            <td>{{ actor.messages }}</td>
                            <td>{{ actor.executions }}</td>
                            <td>{{ actor.runtime }}</td>
                            <td>{{ actor.createTime }}</td>
                            <td>{{ actor.lastUpdateTime }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
{% endblock %}