<!-- User Login page -->
{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <center>Welcome to the Reactors Dashboard</center>
                </h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="POST" action="/login">{% csrf_token %}
                    <fieldset>
                        <legend>Sign In With Your TACC Account</legend>
                        <div class="form-group">
                            <label for="username" class="col-lg-2 control-label"></label>

                            <div class="col-lg-8">
                                <input type="username" class="form-control" id="username" placeholder="Enter Username"
                                       name="username">
                            </div>
                        </div>
                        <!-- Original -->
                        <div class="form-group">
                            <label for="password" class="col-lg-2 control-label"></label>

                            <div class="col-lg-8">
                                <input type="password" class="form-control" id="password" placeholder="Enter Password"
                                       name="password">
                            </div>
                        </div>
                        <!-- Sign In Button -->
                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="card--buttons">
                                    <button type="submit" id="signin-btn" data-behavior="submitForm"
                                            name="AccountSignIn" class="btn btn-primary btn-lg btn-block">
                                        Sign In
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Error Handling -->
                        {% if error %}
                        <div class="error">
                            <p>There was an error: {{ error }}</p>
                        </div>
                        {% endif %}
                        {% if access_token %}
                        <div>
                            <p>Access Token: {{ access_token }}</p>

                            <p>Refresh Token: {{ refresh_token }}</p>
                        </div>
                        {% endif %}
                        <!-- Get a TACC account -->
                        <div>
                            <div id="gam-forgot-password" class="card--message col-lg-8 col-lg-offset-3">
                                Don't have a TACC account? <a href="https://portal.tacc.utexas.edu/account-request" id="createAccount"
                                                         class="link link-grayDarkest link-underline"
                                                         alt="Get a TACC account">Click here</a>
                            </div>
                        </div>

                        <!-- Password Reset -->
                        <div>
                            <div id="gam-forgot-password" class="card--message col-lg-8 col-lg-offset-3">
                                Forgot your TACC password? <a href="https://portal.tacc.utexas.edu/password-reset" id="recoverPassword"
                                                         class="link link-grayDarkest link-underline"
                                                         alt="Reset password">Reset it here</a>
                            </div>
                        </div>

                        <!-- Request Access -->
                        <div>
                            <div id="gam-request-access" class="card--message col-lg-8 col-lg-offset-3">
                                Don't have access to the Reactors Service? <a href="/request_access" id="requestAccess"
                                                         class="link link-grayDarkest link-underline"
                                                         alt="Request Access">Request Access</a>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}