{% extends 'base.html' %}

{% block activetab %}
<div class="container">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="reactors">Reactors</a></li>
        <li><a data-toggle="tab" href="register">Register</a></li>
        <li><a data-toggle="tab" href="run">Run</a></li>
        <li><a data-toggle="tab" href="help">Help</a></li>
        <li class="active"><a data-toggle="tab" href="request_access">Request Access</a></li>
{% endblock %}

        {% block body %}

        <h2>Request Access to TACC Reactors</h2>

        {% if error %}
        <div> There was an error: {{ error }}</div>
        {% endif %}

        {% if success %}
        <div> {{ success }} </div>
        {% endif %}

        <form method="POST" action="/request_access">{% csrf_token %}
            <label for="name">* Full Name:</label>
            <input type="text" class="form-control" placeholder="Your name" id="name" name="name" value="{{ name }}">

            <label for="username">* TACC username:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Your TACC username" value="{{ username }}">

            <label for="email_address">* email address:</label>
            <input type="email" class="form-control" placeholder="email@example.edu" id="email_address" name="email_address" value="{{ email_address }}">

            <label for="affiliation">Affiliation:</label>
            <input type="text" class="form-control" placeholder="Company or university" id="affiliation" name="affiliation" value="{{ affiliation }}">

            <label for="reason">* How will you use the Reactors Service?</label>
            <input type="textbox" class="form-control" placeholder="Describe how you will use Reactors" id="reason" name="reason" value="{{ reason }}">
            <br>
            <div> Requests are reviewed within 24 hours.</div>
            <br>
            <input type="submit" value="Submit">
        </form>

        {% endblock %}