-e git://github.com/TACC/channelpy.git#egg=channelpy
flask==0.12.2
Flask-RESTful==0.3.6

flask-cors
redis==2.10.3
pika==0.9.13
docker-py
pycrypto==2.6.1
PyJWT==0.2.3
gunicorn==19.3.0
rabbitpy==1.0.0
pyzmq==14.3.0
pymongo==3.3.0
hashids==1.2.0
cloudpickle
-e git+https://jstubbs@bitbucket.org/tacc-cic/agaveflask.git#egg=agaveflask
