# comment/uncomment the following line(s) when using a local checkout of git repos:

#-e git+file:///agaveflask#egg=agaveflask
-e git+https://jstubbs@bitbucket.org/tacc-cic/agaveflask.git#egg=agaveflask

-e git://github.com/TACC/channelpy.git#egg=channelpy

Werkzeug==0.16.1
flask==0.12.2
Flask-RESTful==0.3.6


flask-cors
pika==0.9.13
docker==2.7.0
pycrypto==2.6.1
PyJWT==0.2.3
gunicorn==19.9.0
rabbitpy==1.0.0
pyzmq==14.3.0
pymongo==3.10.1
hashids==1.2.0

# we can migrate to a higher version of cloudpickle as soon as we upgrade the samples images (e.g. abacosamples/py3_func:dev)
# currently, differences in the patch version withing 0.5 of cloudpickle (e.g. 0.5.2 vs 0.5.6) causes compatibility issues.
# cf., https://github.com/ucbrise/clipper/issues/573
cloudpickle==0.5.2
agavepy
prometheus_client
