---

spawner:
    image: {{ docker_user }}/core:{{ abaco_tag }}
    command: "python3 -u /actors/spawner.py"
    environment:
        AE_IMAGE: "{{ docker_user }}/core"
        abaco_conf_host_path: ${abaco_path}/abaco.conf
        _abaco_secret: 123

    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - ./abaco.conf:/etc/service.conf
        - /home/apim/logs/spawner.log:/var/log/abaco.log

health:
    image: {{ docker_user }}/core:{{ abaco_tag }}
    command: /actors/health_check.sh
    environment:
        AE_IMAGE: "{{ docker_user }}/core"
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - ./abaco.conf:/etc/service.conf
        - /home/apim/logs/health.log:/var/log/abaco.log
