---

spawner:
    image: {{ docker_user }}/core:{{ abaco_tag }}
    command: "python3 -u /actors/spawner.py"
    environment:
        AE_IMAGE: "{{ docker_user }}/core"
        abaco_conf_host_path: ${abaco_path}/abaco.conf
        _abaco_secret: {{ abaco_secret }}
        mongo_password:
        redis_password:
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - ./abaco.conf:/etc/service.conf
        - /home/apim/logs/spawner.log:/var/log/service.log

health:
    image: {{ docker_user }}/core:{{ abaco_tag }}
    command: /actors/health_check.sh
    environment:
        AE_IMAGE: "{{ docker_user }}/core"
        mongo_password:
        redis_password:
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - ./abaco.conf:/etc/service.conf
        - /home/apim/logs/health.log:/var/log/service.log

clientg:
    image: {{ docker_user }}/core:{{ abaco_tag }}
    command: "python3 -u /actors/clients.py"
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - ./abaco.conf:/etc/service.conf
        - /home/apim/logs/clientg.log:/var/log/service.log
    environment:
        abaco_conf_host_path: ${abaco_path}/local-dev.conf
        _abaco_secret: {{ abaco_secret }}
        mongo_password:
        redis_password:
{% if abaco_env == 'dev' %}
        _abaco_DEV-DEVELOP_username: testotheruser
        _abaco_DEV-DEVELOP_password: testotheruser
{% endif %}
{% if abaco_env == 'prod' %}
        _abaco_AGAVE-PROD_username: {{ clientg_username }}
        _abaco_AGAVE-PROD_password: {{ clientg_password }}
{% endif %}
{% if abaco_env == 'sd2e' %}
        _abaco_SD2E_username: {{ clientg_username }}
        _abaco_SD2E_password: {{ clientg_password }}
{% endif %}
