#!/bin/bash
docker run -d -v /var/run/docker.sock:/var/run/docker.sock -v $(pwd)/abaco.conf:/etc/abaco.conf -e AE_IMAGE={{ docker_user }}/core -e abaco_conf_host_path=/home/apim/abaco.conf -e _abaco_secret={{ abaco_secret }} {{ docker_user }}/core python3 -u /actors/spawner.py