---

redis:
    image: redis
    ports:
        - "6979:6379"
    command: redis-server --appendonly yes
    volumes:
        - /home/apim/data:/data

rabbit:
    image: rabbitmq:3.5.3-management
    ports:
        - "5972:5672"
        - "15972:15672"
    environment:
       RABBITMQ_NODENAME: abaco-rabbit
