---

nginx:
    image: {{ docker_user }}/abaco_nginx
    ports:
        - "80:80"
        - "443:443"

reg:
    image: {{ docker_user }}/abaco_core
    ports:
        - "5000:5000"
    environment:
        server: gunicorn
        api: reg
    volumes:
        - ./abaco.conf:/etc/abaco.conf

mes:
    image: {{ docker_user }}/abaco_core
    ports:
        - "5001:5000"
    environment:
        server: gunicorn
        api: mes
    volumes:
        - ./abaco.conf:/etc/abaco.conf

admin:
    image: {{ docker_user }}/abaco_core
    ports:
        - "5003:5000"
    environment:
        server: gunicorn
        api: admin
    volumes:
        - ./abaco.conf:/etc/abaco.conf

